* {
  border: none;
  font-size: 14px;
}

window#waybar {
  background: transparent;
  margin: 5px;
}

#custom-logo {
  padding: 0 10px;
  color: #669efa;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 0 15px 0 10px;
  margin-right: 5px;
}

#custom-logo:hover {
  color: #000000;
  background-color: #669efa;
  border-bottom: 3px solid;
  border-color: #3666b3;
}

#custom-power {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 0 15px 0 10px;
  margin-left: 5px;
}

#custom-power:hover {
  background-color: #ff0000;
  border-bottom: 3px solid;
  border-color: #990000;
}

#custom-keyboard {
  color: #669efa;
  margin: 0 5px;
}

.modules-left {
  font-family: 'FiraCode Nerd Font';
  font-weight: 500;
  padding-right: 10px;
  border-radius: 15;
  margin-left: 6px;
  margin-top: 6px;
  border: 5px solid;
  border-color: rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

.modules-window {
  background-color: #ff0000;
}

.modules-center {
  font-family: 'monospace';
  padding: 0;
  margin-top: 6px;
  border-radius: 15px;
  border: 5px solid;
  border-color: rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

.modules-right {
  font-family: 'FiraCode Nerd Font';
  font-weight: 500;
  padding-left: 10px;
  border-radius: 15px;
  margin-right: 6px;
  margin-top: 6px;
  border: 5px solid;
  border-color: rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

.modules-left:active,
.modules-center:hover,
.modules-right:hover {
  border: 2px solid;
  border-color: #669efa;
}


#workspaces button {
  color: rgb(170, 170, 170);
  border-radius: 15px;
  padding: 3px 6px;
}

#workspaces button.active {
  color: #669efa;
}

#workspaces button.empty {
  color: rgba(170, 170, 170, 0.25);
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#custom-keyboard,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 0 5px;
}
#pulseaudio {
  padding-top: 3px;
}

#temperature.critical,
#pulseaudio.muted {
  color: #ff0000;
  padding-top: 0;
}

#clock {
  color: #669efa;
}

#battery.charging {
  color: #ffffff;
  background-color: #26a65b;
}

#battery.warning:not(.charging) {
  background-color: #ffbe61;
  color: black;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
