* {
  border: none;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF";
  min-height: 25px;
}

window#waybar {
  background: transparent;
  margin: 5px;
}

#custom-logo {
  padding: 0 10px;
}

#custom-power {
  padding: 0 10px;
}

.modules-left {
  padding-right: 10px;
  border-radius: 0 15px 15px 0;
  margin-top: 2px;
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

.modules-center {
  padding: 0;
  margin-top: 2px;
  border-radius: 15px 15px 15px 15px;
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

.modules-right {
  padding-left: 10px;
  border-radius: 15px 0 0 15px;
  margin-top: 2px;
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#workspaces button {
  color: rgb(170, 170, 170);
  border-radius: 15px;
}

#workspaces button.active {
  color: #5fd1fa;
}

#workspaces button.empty {
  color: rgba(170, 170, 170, 0.25);
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 0 5px;
}
#pulseaudio {
  padding-top: 3px;
}

#temperature.critical,
#pulseaudio.muted {
  color: #ff0000;
  padding-top: 0;
}

#clock {
  color: #5fd1fa;
}

#battery.charging {
  color: #ffffff;
  background-color: #26a65b;
}

#battery.warning:not(.charging) {
  background-color: #ffbe61;
  color: black;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
